<p>
  Here are some items to bring the day of the counts:
</p>
<ol>
  <li>Instruction sheets</li>
  <li>Count form (print)</li>
  <li>Location map</li>
  <li>Clipboard (or something sturdy to write on)</li>
  <li>Pen or pencil (writing instrument make sure it is legible)</li>
  <li>Spare watch (you can use your phone or some form of time keeping)</li>
</ol>
<p>
  Here are some optional things to bring:
</p>
<ul>Hat/sunscreen/Umbrella (most places will be on a sidewalk without much shade)</ul>
<ul>Jacket</ul>
<ul>Chair</ul>
<ul>Music/tunes/headphones (just don’t let your crazy dance moves interfere with the
counts)</ul>
<ul>Snacks/water (keep hydrated!)</ul>
