<p>
  Here are some items to bring the day of the counts:
</p>
<ol>
  <li>Instruction sheets</li>
  <li>Count form (print)</li>
  <li>Location map</li>
  <li>Clipboard (or something sturdy to write on)</li>
  <li>Pen or pencil (writing instrument make sure it is legible)</li>
  <li>Spare watch (you can use your phone or some form of time keeping)</li>
</ol>
<p>
  Here are some optional things to bring:
</p>
<ul>
  <li>Hat/sunscreen/Umbrella (most places will be on a sidewalk without much shade)</li>
  <li>Jacket</li>
  <li>Chair</li>
  <li>Music/tunes/headphones (just don’t let your crazy dance moves interfere with the counts)</li>
  <li>Snacks/water (keep hydrated!)</li>
</ul>
<p>
  Print out two copies of the count form just in case. Each location will be counted in the morning, evening and weekend. All the count sheets are provided in this instruction packet. The instructions page and the location map are included in the packet. If you do not have access to a printer, call or email (carlos.morales@cityofomaha.org) to have a package sent to you.
</p>
<p>
  Plan to arrive 10-15 minutes ahead of scheduled count time so you have time to get set up/ get situated.
</p>
<p>
  Fill in your name, and contact info like phone number and email (in case we need to verify the information with you); the count location; date; count time period; and weather conditions (cloudy/rainy/sunny/windy/and approximate temp) on each count sheet.
</p>
<p>
  At the start of your count period, record the number of people crossing your location and record under appropriate categories on count form.
</p>
<ul>
  <li>Count for a total of 2 hours in 15 min intervals.</li>
  <li>PLACE A TALLY FOR EACH APPROPRIATE CATEGORY</li>
  <li>COUNT THE NUMBER OF PEOPLE on BICYCLES NOT THE NUMBER OF BICYCLES</li>
  <li>A tandem bike = 2 bicyclist</li>
  <li>A parent with 1 child in stroller = 1 walker and 1 stroller</li>
  <li>A parent with 2 children in a stroller = 1 walker and 2 stroller</li>
  <li>If the same person passes by more than once, count them each time they pass the count station.</li>
</ul>
