@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-color:  #20B1D2;
}

th, td {
  padding: 10px;
}


p.lead {
  margin-bottom: 40px;
}

.dropdown-toggle {
  margin-top: 4px;
}

.col-lg-8 {
  padding-left: 0;
  padding-right: 0;
}

.custom-border {
  height: 500px;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

.btn-circle {
  border-radius: 15px;
}

.btn-circle-small {
  border-radius: 20px;
}

.special-icon{
  padding: 10px 16px;
  font-size: 45px;
  line-height: 1.3333333;
  border-radius: 6px;
}

// accordion
label {
  display: inherit;
}
.accordion {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin:0 auto;
    font-size:14px;
    border:1px solid #542437;
    border-radius:10px;
    padding:10px;
    background:#fff;
}
.accordion ul {
    list-style:none;
    margin:0;
    padding:0;
}
.accordion li {
    margin:0;
    padding:0;
}
.accordion [type=radio], .accordion [type=checkbox] {
    display:none;
}
#accordion label {
    display:block;
    font-size:16px;
    line-height:16px;
    background:#ECF0F1;
    border:1px solid #542437;
    color:#542437;
    text-shadow:1px 1px 1px rgba(255,255,255,0.3);
    font-weight:700;
    cursor:pointer;
    text-transform:uppercase;
}
#accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
    background:#F39C12;
    color:#FFF;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5)
}
#accordion .content {
    padding:0 10px;
    overflow:hidden;
    border:1px solid #fff;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
}
#accordion p {
    color:#333;
    margin:0 0 10px;
}
#accordion h3 {
    color:#542437;
    padding:0;
    margin:10px 0;
}

.vertical ul li {
    overflow:hidden;
    margin:0 0 1px;
}
.vertical ul li label {
    padding:10px;
}
.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
    border-bottom:0;
}
.vertical ul li label:hover {
    border:1px solid #542437;
}
.vertical ul li .content {
    height:0px;
    border-top:0;
    transition: all .5s ease-out;
}
.vertical [type=checkbox]:checked ~ label ~ .content {
    height:auto;
    border:1px solid #542437;
}
input#radio {
  display: inline;
}
