@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-color:  #20B1D2;
}

p.lead {
  margin-bottom: 85px;
}
.custom-border {
  border-left: 21px solid gray;
  border-right: 21px solid gray;
}


