@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-color:  #20B1D2;
}

th, td {
  padding: 10px;
}


p.lead {
  margin-bottom: 85px;
}
.custom-border {
  height: 500px;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

.btn-circle {
  border-radius: 15px;
}

.btn-circle-small {
  border-radius: 20px;
}

.special-icon{
  padding: 10px 16px;
  font-size: 45px;
  line-height: 1.3333333;
  border-radius: 6px;
}
