<!-- This is the view that shows one time before starting a count shift.  -->

<h1>What's the weather like today?</h1>
  <select>
    <% @weather.each do |weather| %>
      <option value="<%= weather.id %>"><%= weather.weather %></option>
    <% end %>
  </select>
  <br><br>
  <p>
    <input type="submit" value="Submit">
  </p>
