<p id="notice"><%= notice %></p>

<h1>Count Locations</h1>

<table>
  <thead>
    <tr>
      <th>Location Name</th>
      <th>Map</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.location_name %></td>
        <td><%= link_to location.url, location.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>
