<p id="notice"><%= notice %></p>

<p>
  <strong>Location name:</strong>
  <%= @location.location_name %>

</p>

<p>
  <strong>Url:</strong>
  <%= @location.url %>

</p>


<%= link_to 'Back', volunteer_path %>
